.footer {
  background-color: var(--accent-blue);
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 2rem;
}

.footer__logo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer__link__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__social__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer__social__icon {
  transition: all 0.3 ease-in-out;
  cursor: pointer;
}

.footer__social__icon:hover {
  color: var(--clr-main-red);
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .footer__logo__container {
    flex-direction: row;
    gap: 4rem;
  }

  .footer__link__container {
    flex-direction: row;
    gap: 2rem;
  }
}
