.footer {
  background-color: var(--accent-blue);
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 2rem;
}

.footer__logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__social__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .footer__link__container {
    flex-direction: row;
  }
}
