.faqs {
  flex-direction: column;
}

.faqs__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.faqs__container {
  list-style-type: none;
  width: 100%;
}

.faq {
  border-bottom: 1px solid var(--accent-gray);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.faq__question:hover {
  color: var(--clr-main-red);
  cursor: pointer;
}

.faq__question span {
  text-align: left;
  font-size: var(--size-sm);
  max-width: 70%;
}

.faq__arrow {
  transition: all 0.3s ease;
}

.faq__arrow path {
  stroke: #5267df; /* domyślny kolor */
  transition: stroke 0.3s ease, transform 0.3s ease;
}

.faq__arrow.active {
  transform: rotate(180deg);
}
.faq__arrow.active path {
  stroke: var(--clr-main-red);
}

.faq__answer {
  display: none;
  padding-bottom: 0.5rem;
}

.faq__answer.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .faqs__hero p {
    max-width: 70%;
  }

  .faqs__container {
    width: 80%;
  }

  .faq:first-child {
    border-top: 1px solid var(--accent-gray);
  }

  .faq__question span {
    font-size: var(--size-base);
  }
}

@media screen and (min-width: 1024px) {
  .faqs__container {
    width: 50%;
  }
}
