:root {
  --clr-main-blue: hsl(231, 69%, 60%);
  --clr-main-red: hsl(0, 94%, 66%);

  --accent-gray: hsl(229, 8%, 60%);
  --accent-blue: hsl(229, 31%, 21%);

  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 112.5%; /* 1rem = 18px */
}

body {
  font-size: 1rem; /* 18px */
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  padding-top: 1.5rem;
  /* width: 100%; */
  overflow-x: hidden;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

p {
  color: var(--accent-gray);
  font-size: var(--size-sm);
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
  width: 100%;
  text-align: center;
}

.section:last-child {
  margin-bottom: 0;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.section-img {
  max-width: 12rem;
}

.header {
  font-size: var(--size-xl);
}

.bold-text {
  font-weight: 500;
}

.btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
  border-radius: 5px;
}

.btn-primary {
  color: #fff;
  background-color: var(--clr-main-blue);
  border-color: var(--clr-main-blue);
}
.btn-primary:hover {
  background-color: #fff;
  color: var(--clr-main-blue);
  box-shadow: 0 0.5rem 1rem var(--clr-main-blue);
}

.btn-secondary {
  color: #000;
  box-shadow: 0 0.25rem 0.5rem var(--accent-gray);
}
.btn-secondary:hover {
  border-color: #000;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--accent-gray);
  transition: color 0.3s ease-in-out;
}
.link:hover {
  color: var(--clr-main-red);
}

.special-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--clr-main-red);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 2px solid var(--clr-main-red);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.special-link:hover {
  color: var(--clr-main-red);
  background-color: #fff;
  box-shadow: 0 0.25rem 0.5rem var(--accent-gray);
}

.rounded-bg {
  position: absolute;
  top: 3rem;
  z-index: -1;
  background-color: var(--clr-main-blue);
  width: 80%;
  height: 80%;
  border-bottom-left-radius: 40%;
  border-top-left-radius: 40%;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1rem; /* 18px */
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 1.5rem;
  }

  p {
    font-size: var(--size-base);
  }

  /* .section {
    margin-left: 5rem;
    margin-right: 5rem;
  } */

  .section-img {
    max-width: 25rem;
  }

  .header {
    font-size: var(--size-3xl);
  }

  .rounded-bg {
    top: 5rem;
    width: 100%;
  }
}
