.contact {
  background-color: var(--clr-main-blue);
  color: #fff;
  flex-direction: column;
  padding: 3rem 1rem;
  width: 100vw;
  margin-bottom: 0;
}

.contact__joined {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: var(--size-xs);
  text-align: center;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.contact__input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  width: 100%;
}

.email__container {
  position: relative;
  background-color: var(--clr-main-red);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.input__email.active {
  border-color: var(--clr-main-red);
}

.icon-error {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 50%);
}

.contact__input {
  height: 2rem;
}

.input__email {
  padding: 0 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  border: 2px solid transparent;
}

button.special-link {
  text-transform: none;
}

.contact__newsletter {
  opacity: 0;
  background-color: var(--clr-main-red);
  font-size: var(--size-xs);
  transition: all 0.3s ease-in-out;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.25rem 0;
  transform: translateY(100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contact__newsletter.active {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .contact__input-container {
    flex-direction: row;
    gap: 1rem;
  }

  .input__email {
    /* width: 100%; */
    min-width: 15rem;
    flex: 1;
  }
}
