.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  width: 100%;
}

.mobile__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--accent-blue-transparent);
  padding: 1.5rem;
  z-index: 10;
}

.mobile__menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.navbar__logo__container {
  display: flex;
  place-items: center;
}

.navbar__logo {
  max-width: 10rem;
}

.navbar__link__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mobile__link__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.mobile-link {
  color: #fff;
  border-bottom: 1px solid var(--accent-gray);
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.mobile-link:first-child {
  border-top: 1px solid var(--accent-gray);
}

.special-mobile-link {
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 2px solid #fff;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}

.special-mobile-link:hover {
  color: var(--clr-main-red);
  background-color: #fff;
  box-shadow: 0 0.25rem 0.5rem var(--accent-gray);
}

.social__container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}
