.extensions {
  flex-direction: column;
  gap: 2rem;
}

.extensions__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.extensions__hero p {
  text-align: center;
}

.extensions__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.extension {
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem var(--accent-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 2rem;
}

.extension__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.extension__image {
  max-width: 15rem;
  margin-bottom: 1rem;
}

.social-header {
  font-size: var(--size-xl);
}

@media screen and (min-width: 768px) {
  .extensions__hero p {
    max-width: 60%;
  }

  .social-header {
    font-size: var(--size-2xl);
  }
}

@media screen and (min-width: 1440px) {
  .extensions__container {
    flex-direction: row;
  }
}
